*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* fraunces-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.header {
  margin-top: 44px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  gap: 33px;
}

.us {
  text-transform: uppercase;
  font-family: "Barlow";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769276618958px;
  text-align: left;

}

.section1 {
  margin-top: 73px;
  padding: 117px 85px;
  background-image: url(../images/coffee_fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.great {
  font-family: "Fraunces";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  text-align: left;
  color: #FEFCF7;
  margin-bottom: 32px;
  width: 493px;
  opacity: 80%;
}

.britain {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #FEFCF7;
  margin-bottom: 56px;
  width: 420px;
  opacity: 80%;
}

.create {
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background-color: #66D2CF;
  padding: 16px 31px;
  border-radius: 10px;
}

.section2 {
  margin-top: 68px;
  padding: 100px;
  background-image: url(../images/our.png);
  background-repeat: no-repeat;
  background-position: center;
}

.united {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  align-items: center;
}

.gran {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.brazil {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
  width: 255px;
}
